html, body {
    margin: 0;
    padding: 0;
    height:100vh;
}

:root { 
    --white: #fff;
    --red: #FF0002;
}

.flag{
    position:relative;
    background:red;
    width: 400px;
    height: 400px;
}

.cross{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    background:white;
}
.cross1{
  width:75px;
  height:250px;
  
}

.cross2{
    width: 250px;
    height:75px;
}